:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 1.3px;
  font-weight: 400;
  width: 100%;
  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  margin: 0 auto;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}

h2 {
  font-size: 2.2rem;
}
h2.title {
  margin: 5rem auto 2.5rem auto;
}
h2.front_counter-num {
  font-size: 2.5rem;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  -webkit-transition: border-color 0.25s;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn_details {
  color: #fff;
  border: 1px solid black;
  border-radius: 50px;
  font-weight: 700;
  display: block;
  width: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 2px;
  background-color: #1ab00b;
}
.btn_details.small {
  width: 50%;
  margin: auto;
  padding: 15px 20px;
}
.btn_details:hover {
  text-decoration: underline;
  color: #fff;
}

.container {
  width: 100%;
  margin: 50px auto;
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top_img {
  background-image: url("../../img/topImg.webp");
  background-size: cover;
  background-position: bottom;
  height: 80vh;
  width: 100%;
}

.bar_info {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bar_info .bar_contact {
  width: 100%;
  margin-bottom: 20px;
}
.bar_info .bar_contact .phone_number,
.bar_info .bar_contact .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bar_info .bar_contact .phone_number a,
.bar_info .bar_contact .email a {
  margin-left: 0.5rem;
  color: #fff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.bar_info .bar_contact .phone_number a:hover,
.bar_info .bar_contact .email a:hover {
  color: #646cff;
}
.bar_info .bar_contact .phone_number {
  margin-bottom: 10px;
}
.bar_info .bar_contact .email {
  font-size: 0.8rem;
}
.bar_info .social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.bar_info .social_media .facebook a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bar_info .social_media .facebook a svg {
  width: 40px;
  height: 40px;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #646cff;
  background-color: #1a1a1a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
nav .navbar {
  width: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .navbar .logo img {
  width: 50px;
  height: 50px;
}
nav .nav_menu {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}
nav .nav_menu.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
nav .nav_menu li {
  margin-bottom: 2rem;
  display: block;
}

.front_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.front_about .left_img {
  margin: 20px 0;
}
.front_about .left_img img {
  width: 100%;
  height: 100%;
}
.front_about .right_about {
  margin: 20px 0;
}
.front_about .right_about .right_about-whatIs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2em;
  margin-bottom: 2em;
}
.front_about .right_about .right_about-whatIs > div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.front_about .right_about .right_about-whatIs > div svg {
  width: 2em;
  height: 2em;
}

.front_rooms,
.front_rooms-free {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.front_rooms .room,
.front_rooms-free .room {
  margin: 2rem auto;
  border: 1px solid #646cff;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 24px -12px rgb(255, 255, 255);
          box-shadow: 0px 5px 24px -12px rgb(255, 255, 255);
}
.front_rooms .room:first-of-type,
.front_rooms-free .room:first-of-type {
  margin: 0 auto 2rem auto;
}
.front_rooms .room img,
.front_rooms-free .room img {
  display: block;
  margin: auto;
  width: 100%;
}
.front_rooms .room .room_info,
.front_rooms-free .room .room_info {
  padding: 0 1rem 1rem 1rem;
}
.front_rooms .room .room_info .room_infoIcons,
.front_rooms-free .room .room_info .room_infoIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.front_rooms .room .room_info .room_infoIcons .rooms_infoIcon,
.front_rooms-free .room .room_info .room_infoIcons .rooms_infoIcon {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}
.front_rooms .room .room_info .room_infoIcons .rooms_infoIcon svg,
.front_rooms-free .room .room_info .room_infoIcons .rooms_infoIcon svg {
  width: 2.5rem;
  height: 2.5rem;
}
.front_rooms .room .room_info .room_infoIcons .rooms_infoIcon p,
.front_rooms-free .room .room_info .room_infoIcons .rooms_infoIcon p {
  font-weight: 700;
}

.front_gallery {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.front_gallery * {
  -ms-flex-preferred-size: calc(50% - 4px);
      flex-basis: calc(50% - 4px);
}
.front_gallery .foto1,
.front_gallery .foto2,
.front_gallery .foto3,
.front_gallery .foto4,
.front_gallery .foto5,
.front_gallery .foto6,
.front_gallery .foto7,
.front_gallery .foto8 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 2px;
}
.front_gallery .foto1 {
  background-image: url("../../img/room1.webp");
}
.front_gallery .foto2 {
  background-image: url("../../img/room2.webp");
}
.front_gallery .foto3 {
  background-image: url("../../img/room3.webp");
}
.front_gallery .foto4 {
  background-image: url("../../img/room1.webp");
}
.front_gallery .foto5 {
  background-image: url("../../img/room2.webp");
}
.front_gallery .foto6 {
  background-image: url("../../img/room3.webp");
}
.front_gallery .foto7 {
  background-image: url("../../img/room1.webp");
}
.front_gallery .foto8 {
  background-image: url("../../img/room2.webp");
}

.front_counter {
  width: 100%;
  background-color: #0d9900;
}
.front_counter .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
}
.front_counter .container .counter {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}
.front_counter .container .counter span {
  font-size: 2.5rem;
}
.front_counter .container .counter p {
  font-size: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  letter-spacing: 2.5px;
}

footer {
  border-top: 1px solid #646cff;
}
footer .container.footer {
  width: 100%;
  padding: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .container.footer .footer_info {
  padding: 1rem;
}
footer .container.footer .footer_info .footer_info-about {
  margin-bottom: 2rem;
}
footer .container.footer .footer_info .footer_info-about h3 {
  margin-top: 0;
}
footer .container.footer .footer_info .footer_info-details > div.footer_location, footer .container.footer .footer_info .footer_info-details > div.footer_phoneNumber, footer .container.footer .footer_info .footer_info-details > div.footer_email {
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .container.footer .footer_info .footer_info-details > div.footer_location a, footer .container.footer .footer_info .footer_info-details > div.footer_phoneNumber a, footer .container.footer .footer_info .footer_info-details > div.footer_email a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .container.footer .footer_info .footer_info-details > div.footer_location a svg, footer .container.footer .footer_info .footer_info-details > div.footer_phoneNumber a svg, footer .container.footer .footer_info .footer_info-details > div.footer_email a svg {
  width: 2rem;
  height: 2rem;
}
footer .container.footer .footer_info .footer_info-details > div.footer_location a span, footer .container.footer .footer_info .footer_info-details > div.footer_phoneNumber a span, footer .container.footer .footer_info .footer_info-details > div.footer_email a span {
  margin-left: 5px;
  font-size: 0.7rem;
}
footer .container.footer .footer_info .footer_info-details > div.footer_socialmedia {
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .container.footer .footer_info .footer_info-details > div.footer_socialmedia h3 {
  margin: 1rem 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
footer .container.footer .footer_info .footer_info-details > div.footer_socialmedia > div a {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .container.footer .footer_info .footer_info-details > div.footer_socialmedia > div a svg {
  width: 3rem;
  height: 3rem;
}
footer .container.footer .footer_map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .container.footer .footer_map img {
  width: 100%;
  height: auto;
  margin: auto;
}
footer .container .footer_condition {
  margin: 0.5rem;
  font-size: 0.5rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .container .footer_condition .footer_condition-company h6 {
  margin: 0;
}
footer .container .footer_condition .footer_condition-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
footer .container .footer_condition .footer_condition-details a {
  margin-bottom: 5px;
}
footer .container .footer_condition .footer_condition-details a:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .container {
    width: 100%;
    max-width: 3000px;
    padding: 0 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .bar_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bar_info .bar_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .bar_info .bar_contact .phone_number,
.bar_info .bar_contact .email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bar_info .bar_contact .phone_number a,
.bar_info .bar_contact .email a {
    margin-left: 5px;
    color: #fff;
  }
  .bar_info .bar_contact .phone_number {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .bar_info .social_media {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .bar_info .social_media .facebook,
.bar_info .social_media .twitter,
.bar_info .social_media .yt {
    margin-left: 1rem;
  }
  nav {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  nav .navbar {
    width: auto;
    padding: 0;
  }
  nav .navbar .logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  nav .navbar .hamburger {
    display: none;
  }
  nav .nav_menu {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .nav_menu li {
    margin-left: 2rem;
    margin-bottom: 0;
  }
  nav .nav_menu li:first-of-type {
    margin-left: 0;
  }
  .front_about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .front_about .left_img {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .front_about .left_img img {
    width: auto;
    height: auto;
  }
  .front_about .right_about {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .front_about .btn_details {
    display: inline-block;
    width: auto;
    padding: 20px 40px;
  }
  .front_rooms,
.front_rooms-free {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .front_rooms .room,
.front_rooms-free .room {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto 2rem auto;
  }
  .front_rooms .room img,
.front_rooms-free .room img {
    display: block;
    margin: auto;
    width: 100%;
  }
  .front_rooms .room .room_info,
.front_rooms-free .room .room_info {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .front_rooms .room .room_info p,
.front_rooms-free .room .room_info p {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: justify;
  }
  .front_rooms .room .room_info .room_infoIcons,
.front_rooms-free .room .room_info .room_infoIcons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .front_rooms .room .room_info .room_infoIcons .rooms_infoIcon,
.front_rooms-free .room .room_info .room_infoIcons .rooms_infoIcon {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .front_gallery * {
    -ms-flex-preferred-size: calc(25% - 4px);
        flex-basis: calc(25% - 4px);
  }
  .front_counter {
    margin: auto;
  }
  .front_counter .container .counter {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  footer .container.footer {
    width: 100%;
    max-width: 3000px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  footer .container.footer .footer_info {
    padding: 0 1rem;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  footer .container.footer .footer_info .footer_info-details > div.footer_location a span, footer .container.footer .footer_info .footer_info-details > div.footer_phoneNumber a span, footer .container.footer .footer_info .footer_info-details > div.footer_email a span {
    font-size: 1rem;
  }
  footer .container.footer .footer_map {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  footer .container.footer .footer_condition {
    margin: 0.5rem;
    font-size: 0.5rem;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container.footer .footer_condition .footer_condition-company h6 {
    margin: 0;
  }
  footer .container.footer .footer_condition .footer_condition-details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container.footer .footer_condition .footer_condition-details a {
    margin-bottom: 0;
    padding-left: 0.5rem;
    margin-left: 1rem;
    border-left: 1px solid #646cff;
  }
  footer .container.footer .footer_condition .footer_condition-details a:first-of-type {
    border-left: none;
  }
}/*# sourceMappingURL=App.css.map */